.homepage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      height: 100%;

      .title {
        font-size: 64px;
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 36px;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: rgb(250, 241, 228);
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 110%;
      position: absolute;
      right: 0;
    }
  }
}
