@import "../responsive.scss";

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa;

  .left {
    display: flex;
    align-items: center;
    gap: 15px;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    a {
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 4px;
      transition: background 0.3s ease;

      &:hover {
        background: #ececec;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      font-size: 14px;
      padding: 8px 15px;
      transition: background 0.3s ease;

      &.register {
        background-color: #fece51;
        color: #000;
        border-radius: 5px;

        &:hover {
          background-color: #e5b847;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      span {
        font-size: 16px;
        margin-right: 12px;

        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 8px 15px;
        background-color: #fece51;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        .notification {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: red;
          color: white;
          font-size: 12px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          background-color: #e5b847;
        }
      }
    }

    .menuIcon {
      display: none;
      z-index: 999;
      img {
        width: 30px;
        cursor: pointer;
      }

      @include sm {
        display: block;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -100%;
      width: 60%;
      height: 100vh;
      background: #000;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: right 0.3s ease;

      &.active {
        right: 0;
      }

      a {
        margin: 10px 0;
        font-size: 18px;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include sm {
        a {
          display: block;
        }
      }
    }
  }

  @include sm {
    .right {
      .menuIcon {
        display: block;
      }

      a {
        display: none;
      }
    }
  }
}
